{% extends 'header.html' %}
{% block content %}
	{% load static %}
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Music</span> for everyone.</h2>
								<p> JustBeatIt is a social media platform for Musicians to find people with their similar interests and form their own Bands</p>
								<a href="accounts/register" class="site-btn">Sign Up</a>
								<a href="accounts/login" class="site-btn sb-c2">Login</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{% static 'img/hero-bg.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Connect With</span> Musicians</h2>
								<p> JustBeatIt is a social media platform for Musicians to find people with their similar interests and form their own Bands</p>
								<a href="accounts/register" class="site-btn">Sign Up</a>
								<a href="accounts/login" class="site-btn sb-c2">Login</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{% static 'img/hero-bg.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Join - Connect and Enjoy the Rhythm</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>Connect with musicians who are experienced in different genres of Music.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- How section -->
	<section class="how-section spad set-bg" data-setbg="{% static 'img/how-to-bg.jpg' %}">
		<div class="container text-white">
			<div class="section-title">
				<h2>How it works</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="{% static 'img/icons/brain.png' %}" alt="">
						</div>
						<h4>Create an account</h4>
						<p>Join with us ,share your work and we help you find your bandmates </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="{% static 'img/icons/pointer.png' %}" alt="">
						</div>
						<h4>Connect</h4>
						<p>Search for the musicians with music madness same as you</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="{% static 'img/icons/smartphone.png' %}" alt="">
						</div>
						<h4>Work together and share</h4>
						<p>Form bands with your connects and do commendable music</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- How section end -->

	<!-- Concept section -->
	<section class="concept-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Our Concept &  Famous artists</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>We have wide range of music artist</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="concept-item">
						<img src="{% static 'img/concept/1.jpg' %}" alt="">
						<h5>Soul Music</h5>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="concept-item">
						<img src="{% static 'img/concept/2.jpg' %}" alt="">
						<h5>Pop Music</h5>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="concept-item">
						<img src="{% static 'img/concept/3.jpg' %}" alt="">
						<h5>Instruments</h5>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="concept-item">
						<img src="{% static 'img/concept/4.jpg' %}" alt="">
						<h5>Form Bands</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Concept section end -->

	<!-- Subscription section -->
	
	<!-- Subscription section end -->

	<!-- Premium section start -->
	
	<!-- Premium section end -->

	<!-- Footer section -->
	<footer class="footer-section">
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="{% static 'img/logo.png' %}" alt="">
				</div>
	</footer>
	<!-- Footer section end -->
{% endblock %}
